<div class="container-fluid mt-5">
  <h3>Search Results</h3>
  <div class="row" *ngIf="data != null">
    <div class="col-lg-3 mt-3 mb-3" *ngFor="let d of data">
      <div class="box">
        <img src="{{ d.urlToImage }}" width="100%" />
        <h5 class="mt-2 mb-2">{{ d.title }}</h5>
        <p>{{ d.description }}</p>
        <a href="{{ d.url }}" target="_blank" class="btn btn-dark btn-sm mt-2">Read More</a>
      </div>
    </div>
  </div>

  <div class="text-center bg-danger m-auto p-2 col-6" *ngIf="data == null">
    <h5>
      Sorry, No Results Found..
      Try Another Searching!
    </h5>
  </div>
</div>


